<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">

	  <link rel="stylesheet" href="{{ "/css/main_resume_cleaned.css" | prepend: site.baseurl }}">
  
  

		<!-- begin Publication Experiences -->
      <section class="content-section" style="margin-top:30px;">

        <header class="section-header">
          <h2>Publications</h2>
        </header>

    <div class = "resume-item">
      <h4 class="resume-item-details">2019</h4>
        <ul class="resume-item-list">
          <!-- ICDM 2019  -->
          <li> 
            Carl Yang*, <b>Jieyu Zhang*</b> and Jiawei Han. <a href="."> Neural Embedding Propagation on Heterogeneous Networks</a>, In The 19th IEEE International Conference on Data Mining (<i>ICDM</i> 2019). <b>Accepted rate 9.08%</b>
          </li>
          <!-- KDD Demo 2019 -->
          <li>Carl Yang, Dai Teng, Siyang Liu, Sayantani Basu, <b>Jieyu Zhang</b>, Jiaming Shen, Chao Zhang, Jingbo Shang, Lance Kaplan, Timothy Harratty and Jiawei Han, <a href="." target="_blank"> CubeNet: Multi-Facet Hierarchical Heterogeneous Network Construction, Analysis, and Mining</a>, In The 24th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (<i>KDD</i> 2019 Demo Track).
          </li>

        </ul>

			</ul>
		</div>

      </section>
      <!-- end Publication Experiences-->
      
      
 
	
<!-- 
      {% if site.resume_section_associations %}
      <!~~ begin Associations ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!~~ end Associations ~~>
      {% endif %}

      {% if site.resume_section_links %}
      <!~~ begin Links ~~>
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!~~ end Links ~~>
      {% endif %}
 -->


    </div>
	  {% include footer.html %}
	
		<!-- {% include disqus.html %} -->

    {% include ga.html %}
    

  </body>

</html>